*.in
*.o
*.lo
*.la
*.loT
*.swp
.deps
.libs
*.pc
*.gg
*.moc
Makefile
aclocal.m4
autom4te.cache
/autotools/*.m4
!/autotools/shave.m4
/autotools/shave
/autotools/shave-libtool
compile
config.guess
config.h
config.log
config.status
config.sub
configure
cscope.in.out
cscope.out
cscope.po.out
depcomp
install-sh
intltool-extract
intltool-merge
intltool-update
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
/po/POTFILES
/po/stamp-it
stamp-h1
tags
xmldocs.make
*~
/hosts/gtk/ggl-gtk
/hosts/gtk/ggl-gtk.sh
/hosts/gtk/gtkmoz-browser-child
/hosts/qt/ggl-qt
/hosts/qt/ggl-qt.sh
/xdg/intl-desktop-file
/xdg/intl-desktop-file.sh
*.desktop
/extensions/gtkmoz_browser_element/gtkmoz-browser-child
ggadget/sysdeps.h
third_party/xdgmime/test-mime
!/po/POTFILES.in
!/po/Makefile.in.in
/libltdl/
!*.css.in
/hosts/clutter/ggl-clutter
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/hosts/clutter/ggl-clutter.sh
!/hosts/clutter/org.moblin.UX.Shell.Panels.gadgets.service.in
!/hosts/clutter/gadgets-panel.desktop.in.in